.intro-y {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
  animation: 0.4s intro-y-animation ease-in-out 0.33333s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

// * > .intro-y:nth-child(1) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.1s;
//   animation-delay: 0.1s;
// }
// * > .intro-x:nth-child(2) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.2s;
//   animation-delay: 0.2s;
// }
// * > .-intro-x:nth-child(2) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.2s;
//   animation-delay: 0.2s;
// }
// * > .intro-y:nth-child(2) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.2s;
//   animation-delay: 0.2s;
// }
// * > .intro-x:nth-child(3) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.3s;
//   animation-delay: 0.3s;
// }
// * > .-intro-x:nth-child(3) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.3s;
//   animation-delay: 0.3s;
// }
// * > .intro-y:nth-child(3) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.3s;
//   animation-delay: 0.3s;
// }
// * > .intro-x:nth-child(4) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.4s;
//   animation-delay: 0.4s;
// }
// * > .-intro-x:nth-child(4) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.4s;
//   animation-delay: 0.4s;
// }
// * > .intro-y:nth-child(4) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.4s;
//   animation-delay: 0.4s;
// }
// * > .intro-x:nth-child(5) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.5s;
//   animation-delay: 0.5s;
// }
// * > .-intro-x:nth-child(5) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.5s;
//   animation-delay: 0.5s;
// }
// * > .intro-y:nth-child(5) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.5s;
//   animation-delay: 0.5s;
// }
// * > .intro-x:nth-child(6) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.6s;
//   animation-delay: 0.6s;
// }
// * > .-intro-x:nth-child(6) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.6s;
//   animation-delay: 0.6s;
// }
// * > .intro-y:nth-child(6) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.6s;
//   animation-delay: 0.6s;
// }
// * > .intro-x:nth-child(7) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.7s;
//   animation-delay: 0.7s;
// }
// * > .-intro-x:nth-child(7) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.7s;
//   animation-delay: 0.7s;
// }
// * > .intro-y:nth-child(7) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.7s;
//   animation-delay: 0.7s;
// }
// * > .intro-x:nth-child(8) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.8s;
//   animation-delay: 0.8s;
// }
// * > .-intro-x:nth-child(8) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.8s;
//   animation-delay: 0.8s;
// }
// * > .intro-y:nth-child(8) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.8s;
//   animation-delay: 0.8s;
// }
// * > .intro-x:nth-child(9) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.9s;
//   animation-delay: 0.9s;
// }
// * > .-intro-x:nth-child(9) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.9s;
//   animation-delay: 0.9s;
// }
// * > .intro-y:nth-child(9) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 0.9s;
//   animation-delay: 0.9s;
// }
// * > .intro-x:nth-child(10) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1s;
//   animation-delay: 1s;
// }
// * > .-intro-x:nth-child(10) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1s;
//   animation-delay: 1s;
// }
// * > .intro-y:nth-child(10) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1s;
//   animation-delay: 1s;
// }
// * > .intro-x:nth-child(11) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.1s;
//   animation-delay: 1.1s;
// }
// * > .-intro-x:nth-child(11) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.1s;
//   animation-delay: 1.1s;
// }
// * > .intro-y:nth-child(11) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.1s;
//   animation-delay: 1.1s;
// }
// * > .intro-x:nth-child(12) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.2s;
//   animation-delay: 1.2s;
// }
// * > .-intro-x:nth-child(12) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.2s;
//   animation-delay: 1.2s;
// }
// * > .intro-y:nth-child(12) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.2s;
//   animation-delay: 1.2s;
// }
// * > .intro-x:nth-child(13) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.3s;
//   animation-delay: 1.3s;
// }
// * > .-intro-x:nth-child(13) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.3s;
//   animation-delay: 1.3s;
// }
// * > .intro-y:nth-child(13) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.3s;
//   animation-delay: 1.3s;
// }
// * > .intro-x:nth-child(14) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.4s;
//   animation-delay: 1.4s;
// }
// * > .-intro-x:nth-child(14) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.4s;
//   animation-delay: 1.4s;
// }
// * > .intro-y:nth-child(14) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.4s;
//   animation-delay: 1.4s;
// }
// * > .intro-x:nth-child(15) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.5s;
//   animation-delay: 1.5s;
// }
// * > .-intro-x:nth-child(15) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.5s;
//   animation-delay: 1.5s;
// }
// * > .intro-y:nth-child(15) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.5s;
//   animation-delay: 1.5s;
// }
// * > .intro-x:nth-child(16) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.6s;
//   animation-delay: 1.6s;
// }
// * > .-intro-x:nth-child(16) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.6s;
//   animation-delay: 1.6s;
// }
// * > .intro-y:nth-child(16) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.6s;
//   animation-delay: 1.6s;
// }
// * > .intro-x:nth-child(17) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.7s;
//   animation-delay: 1.7s;
// }
// * > .-intro-x:nth-child(17) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.7s;
//   animation-delay: 1.7s;
// }
// * > .intro-y:nth-child(17) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.7s;
//   animation-delay: 1.7s;
// }
// * > .intro-x:nth-child(18) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.8s;
//   animation-delay: 1.8s;
// }
// * > .-intro-x:nth-child(18) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.8s;
//   animation-delay: 1.8s;
// }
// * > .intro-y:nth-child(18) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.8s;
//   animation-delay: 1.8s;
// }
// * > .intro-x:nth-child(19) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.9s;
//   animation-delay: 1.9s;
// }
// * > .-intro-x:nth-child(19) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.9s;
//   animation-delay: 1.9s;
// }
// * > .intro-y:nth-child(19) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 1.9s;
//   animation-delay: 1.9s;
// }
// * > .intro-x:nth-child(20) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2s;
//   animation-delay: 2s;
// }
// * > .-intro-x:nth-child(20) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2s;
//   animation-delay: 2s;
// }
// * > .intro-y:nth-child(20) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2s;
//   animation-delay: 2s;
// }
// * > .intro-x:nth-child(21) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.1s;
//   animation-delay: 2.1s;
// }
// * > .-intro-x:nth-child(21) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.1s;
//   animation-delay: 2.1s;
// }
// * > .intro-y:nth-child(21) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.1s;
//   animation-delay: 2.1s;
// }
// * > .intro-x:nth-child(22) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.2s;
//   animation-delay: 2.2s;
// }
// * > .-intro-x:nth-child(22) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.2s;
//   animation-delay: 2.2s;
// }
// * > .intro-y:nth-child(22) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.2s;
//   animation-delay: 2.2s;
// }
// * > .intro-x:nth-child(23) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.3s;
//   animation-delay: 2.3s;
// }
// * > .-intro-x:nth-child(23) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.3s;
//   animation-delay: 2.3s;
// }
// * > .intro-y:nth-child(23) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.3s;
//   animation-delay: 2.3s;
// }
// * > .intro-x:nth-child(24) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.4s;
//   animation-delay: 2.4s;
// }
// * > .-intro-x:nth-child(24) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.4s;
//   animation-delay: 2.4s;
// }
// * > .intro-y:nth-child(24) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.4s;
//   animation-delay: 2.4s;
// }
// * > .intro-x:nth-child(25) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.5s;
//   animation-delay: 2.5s;
// }
// * > .-intro-x:nth-child(25) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.5s;
//   animation-delay: 2.5s;
// }
// * > .intro-y:nth-child(25) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.5s;
//   animation-delay: 2.5s;
// }
// * > .intro-x:nth-child(26) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.6s;
//   animation-delay: 2.6s;
// }
// * > .-intro-x:nth-child(26) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.6s;
//   animation-delay: 2.6s;
// }
// * > .intro-y:nth-child(26) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.6s;
//   animation-delay: 2.6s;
// }
// * > .intro-x:nth-child(27) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.7s;
//   animation-delay: 2.7s;
// }
// * > .-intro-x:nth-child(27) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.7s;
//   animation-delay: 2.7s;
// }
// * > .intro-y:nth-child(27) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.7s;
//   animation-delay: 2.7s;
// }
// * > .intro-x:nth-child(28) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.8s;
//   animation-delay: 2.8s;
// }
// * > .-intro-x:nth-child(28) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.8s;
//   animation-delay: 2.8s;
// }
// * > .intro-y:nth-child(28) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.8s;
//   animation-delay: 2.8s;
// }
// * > .intro-x:nth-child(29) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.9s;
//   animation-delay: 2.9s;
// }
// * > .-intro-x:nth-child(29) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.9s;
//   animation-delay: 2.9s;
// }
// * > .intro-y:nth-child(29) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 2.9s;
//   animation-delay: 2.9s;
// }
// * > .intro-x:nth-child(30) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3s;
//   animation-delay: 3s;
// }
// * > .-intro-x:nth-child(30) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3s;
//   animation-delay: 3s;
// }
// * > .intro-y:nth-child(30) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3s;
//   animation-delay: 3s;
// }
// * > .intro-x:nth-child(31) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.1s;
//   animation-delay: 3.1s;
// }
// * > .-intro-x:nth-child(31) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.1s;
//   animation-delay: 3.1s;
// }
// * > .intro-y:nth-child(31) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.1s;
//   animation-delay: 3.1s;
// }
// * > .intro-x:nth-child(32) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.2s;
//   animation-delay: 3.2s;
// }
// * > .-intro-x:nth-child(32) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.2s;
//   animation-delay: 3.2s;
// }
// * > .intro-y:nth-child(32) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.2s;
//   animation-delay: 3.2s;
// }
// * > .intro-x:nth-child(33) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.3s;
//   animation-delay: 3.3s;
// }
// * > .-intro-x:nth-child(33) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.3s;
//   animation-delay: 3.3s;
// }
// * > .intro-y:nth-child(33) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.3s;
//   animation-delay: 3.3s;
// }
// * > .intro-x:nth-child(34) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.4s;
//   animation-delay: 3.4s;
// }
// * > .-intro-x:nth-child(34) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.4s;
//   animation-delay: 3.4s;
// }
// * > .intro-y:nth-child(34) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.4s;
//   animation-delay: 3.4s;
// }
// * > .intro-x:nth-child(35) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.5s;
//   animation-delay: 3.5s;
// }
// * > .-intro-x:nth-child(35) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.5s;
//   animation-delay: 3.5s;
// }
// * > .intro-y:nth-child(35) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.5s;
//   animation-delay: 3.5s;
// }
// * > .intro-x:nth-child(36) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.6s;
//   animation-delay: 3.6s;
// }
// * > .-intro-x:nth-child(36) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.6s;
//   animation-delay: 3.6s;
// }
// * > .intro-y:nth-child(36) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.6s;
//   animation-delay: 3.6s;
// }
// * > .intro-x:nth-child(37) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.7s;
//   animation-delay: 3.7s;
// }
// * > .-intro-x:nth-child(37) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.7s;
//   animation-delay: 3.7s;
// }
// * > .intro-y:nth-child(37) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.7s;
//   animation-delay: 3.7s;
// }
// * > .intro-x:nth-child(38) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.8s;
//   animation-delay: 3.8s;
// }
// * > .-intro-x:nth-child(38) {
//   position: relative;
//   opacity: 0;
//   transform: translateX(-20px);
//   -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-x-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.8s;
//   animation-delay: 3.8s;
// }
// * > .intro-y:nth-child(38) {
//   position: relative;
//   opacity: 0;
//   transform: translateY(20px);
//   -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   animation: 0.4s intro-y-animation ease-in-out 0.33333s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-delay: 3.8s;
//   animation-delay: 3.8s;
// }

@-webkit-keyframes intro-y-animation {
  100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes intro-y-animation {
  100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes intro-x-animation {
  100% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes intro-x-animation {
  100% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
