// Intro Opacity
.intro {
  &-opacity {
    opacity: 0;
    -webkit-animation: 0.2s intro-opacity-animation ease-in-out 0.33333s;
    animation: 0.2s intro-opacity-animation ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  @-webkit-keyframes intro-opacity-animation {
    100% {
      opacity: 1;
    }
  }
  @keyframes intro-opacity-animation {
    100% {
      opacity: 1;
    }
  }
  // End Intro Opacity

  // Intro Y
  &-y {
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  @-webkit-keyframes intro-y-animation {
    100% {
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes intro-y-animation {
    100% {
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }
  // End Intro Y

  // Intro X
  &-x {
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  @-webkit-keyframes intro-x-animation {
    100% {
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes intro-x-animation {
    100% {
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
    }
  }
  // End Intro X
}

// Hover float animation
.hover-float {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.hover-float:hover {
  transform: scale(1.2);
  z-index: 10;
}
// End hover flaot animation
