.chat-box {
  transition: all 0.35s ease-in-out;
  width: 23.5vw;
  right: 1rem;
  bottom: 0;
  border-radius: 1rem 1rem 0rem 0rem;
  height: 90vh;
  transform: translateY(82.5vh);
  background-color: white;
  &.isPinned {
    transform: translateY(0vh);
    height: 680px;
  }

  .header {
    display: flex;
    align-items: center;
    height: 7.5vh;
    border-radius: 1rem 1rem 0rem 0rem;
    border-bottom: 2px solid beige;
    background-color: white;
    &:hover {
      background-color: ghostwhite;
    }
  }
}

@media only screen and (max-width: 767px) {
  .chat-app .chat {
    margin: 0;
  }
  .chat-app .chat-history {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-history {
    height: 600px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-history {
    height: calc(100vh - 350px);
  }
}
