.chat-box {
  transition: all 0.35s ease-in-out;
  width: 20rem;
  height: 2.65rem;
  right: 2rem;
  bottom: 0;
  border-radius: 1rem 1rem 0rem 0rem;

  &.pinned {
    height: 80%;
  }

  .header {
    border-radius: 1rem 1rem 0rem 0rem;
    border-bottom: 2px solid beige;
    &:hover {
      background-color: beige;
    }
  }
}
