.left-border {
  &:before {
    content: "";
    width: 0.15rem;
    background-color: $comment-background;
    height: 100%;
    position: absolute;
    top: -45px;
    left: -1.5rem;
    z-index: 0;
  }
  li.left-line {
    &:before {
      content: "";
      width: 1.5rem;
      height: 1rem;
      position: absolute;
      top: 0px;
      left: -1.5rem;
      border-bottom-left-radius: 0.75rem;
      border-bottom: 0.15rem solid $comment-background;
    }
  }
}
.h-left-border {
  &:before {
    content: "";
    width: 1.5rem;
    height: 4.5rem;
    position: absolute;
    top: -60px;
    left: -1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom: 0.15rem solid $comment-background;
    border-left: 0.15rem solid $comment-background;
  }
}
