.dropdown-menu {
  min-width: 7rem;
  &.show {
    animation-name: slidenavAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 0.3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }
}
.room {
  .user {
    .dropdown {
      &-toggle::after {
        display: unset;
        margin-left: unset;
        vertical-align: unset;
        content: unset;
        border-top: unset;
        border-right: unset;
        border-left: unset;
      }
      &-menu {
        z-index: 9;
        min-width: 2rem;
        transform: translate3d(10px, 30px, 0px) !important;
      }
    }
  }
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
