.user-profile {
  padding-left: 0.5rem !important;
  border-radius: 0px 0rem 0rem 1rem;
  a {
    img {
      margin-right: 0.5rem;
    }
    &:hover {
      color: darkslategray;
    }
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
