.navbar {
  .navbar-brand {
    color: #191919 !important;
  }
  .nav-item {
    .nav-link {
      height: 3.25rem;
      display: flex;
      align-items: center;
      .icon {
        padding-top: 5px;
        margin-bottom: -5px;
      }
      &:hover {
        // color: #191919 !important;
        border-bottom: 2px solid rgba(0, 0, 0, 0.55);
      }
      transition: all 0.35s ease;
      color: rgba(0, 0, 0, 0.55);
    }
    .nuxt-link-exact-active {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.55);
      border-bottom: 2px solid rgba(0, 0, 0, 0.55);
    }
  }
}
