.notification {
  ul {
    padding-top: 1rem;
    &.sidebar {
      list-style-type: none;
      padding-left: 0;
      li {
        background-color: white !important;
        padding: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.notification-detail {
  ul {
    list-style-type: none;
    li {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 2rem;
      .user {
        &-pic {
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            object-fit: cover;
          }
        }
        &-name {
          margin-bottom: 0.5rem;
          padding-left: 1rem;
        }
      }
      .message {
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        display: block;
        &::before {
          content: '';
          left: -2rem;
          width: 2rem;
          height: 1.25rem;
          position: absolute;
          top: 3rem;
          border-bottom-left-radius: 0.5rem;
          border-bottom: 0.15rem solid #fff;
          border-left: 0.15rem solid #fff;
          box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        }
        &::after {
          content: '';
          left: -0.35rem;
          width: 2rem;
          height: 6.25rem;
          position: absolute;
          top: 4.25rem;
          border-bottom-left-radius: 5.5rem;
          border-bottom: 0.15rem solid #fff;
          border-left: 0.15rem solid #fff;
          box-shadow: 0 0.125rem 0rem rgb(0 0 0 / 5%) !important;
        }
      }
      &:last-child {
        .message {
          &::after {
            content: unset;
          }
        }
      }
    }
  }
}
