.notification {
  ul {
    padding-top: 1rem;
    &.sidebar {
      list-style-type: none;
      padding-left: 0;
      li {
        background-color: white !important;
        padding: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.notification-detail {
  ul {
    list-style-type: none;
    li {
      display: flex;
      gap: 0.5rem;
      .user{
        &-pic {
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            object-fit: cover;
          }
        }
        &-name{
          margin-bottom: 0.25rem;
        }
      }
      .message {
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        display: block;
      }
    }
  }
}
