.server {
  .nuxt-link-active {
    background-color: #e4e6e9 !important;
  }
  transition: all 0.35s ease-in-out;
  &.hide {
    transform: translateX(-5rem);
  }
  // max-width: 5rem;
  .dropdown-toggle::after {
    display: unset;
    margin-left: unset;
    vertical-align: unset;
    content: unset;
    border-top: unset;
    border-right: unset;
    border-left: unset;
  }
  .dropdown-menu {
    &.show {
      transform: translate3d(120px, 0px, 0px) !important;
      border: unset;
    }
  }

  @keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.channel {
  transition: all 0.35s ease-in-out;
  // max-width: 18rem;

  ul {
    list-style: none;
    list-style-type: none;
    position: relative;
  }
  .side-list {
    overflow: auto;
    // overflow: hidden;
    // &:hover {
    //   overflow-y: auto;
    // }
    position: relative;
    padding-inline-start: 2px !important;
    .side-parent {
      .parent-2 {
        &,
        ul {
          list-style: none;
          list-style-type: none;
          position: relative;
        }
      }
      padding-left: 0px;
      position: relative;
      a {
        &.nuxt-link-active {
          .side-link {
            background-color: #e4e6e9;
            &:hover {
              background-color: #e4e6e9;
            }
          }
        }
        color: rgba(0, 0, 0, 0.85);
        text-decoration: none;
        position: relative;
        .side-link {
          background-color: white;
          transition: all 0.05s ease-in-out;
          box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
          padding: 0.25rem;
          padding-left: 0.15rem;
          margin-bottom: 0.25rem;
          border-radius: 0.2rem;
          &:hover {
            background-color: #e4e6e9 !important;
          }
          .side-icon {
            margin-right: 0.05rem;
            text-align: center;
            width: 1.6rem;
          }
          &.bg {
            &-dark {
              &-gray {
                background-color: $dark-gray !important;
              }
            }
          }
        }
      }
    }

    .left-border {
      &:before {
        content: '';
        width: 0.25rem;
        background-color: $line-background;
        height: 100%;
        position: absolute;
        top: -45px;
        left: -1.5rem;
        z-index: 0;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
      }
      li.left-line {
        &:before {
          content: '';
          width: 1.5rem;
          height: 1rem;
          position: absolute;
          top: 0px;
          left: -1.5rem;
          border-bottom-left-radius: 0.75rem;
          border-bottom: 0.15rem solid $line-background;
          box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        }
      }
    }
    .h-left-border {
      &:before {
        content: '';
        left: -1.15rem;
        width: 1.15rem;
        height: 1.25rem;
        position: absolute;
        top: -0.25rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom: 0.15rem solid $line-background;
        border-left: 0.15rem solid $line-background;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
      }
    }

    .v-left-border {
      &:before {
        content: '';
        width: 1.5rem;
        height: 100%;
        position: absolute;
        top: -0.725rem;
        left: 0.85rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom: 0.15rem solid $line-background;
        border-left: 0.15rem solid $line-background;
        box-shadow: 0 0.1rem 0rem rgb(0 0 0 / 8%) !important;
      }
    }
  }
}

.poeples {
  max-width: 5rem;
}
