
.font-mono {
  font-family: $font-family;
}

.bg-gray {
  &-400 {
    background-color: $gray-400;
  }
  &-200 {
    background-color: $gray-200;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.55rem;
  height: 0.55rem;
}

/* Track */
::-webkit-scrollbar-track {
  // border-radius: 100vh;
  // background: rgba(85, 71, 74, var(--tw-bg-opacity));
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(229, 231, 295);
  border-radius: 100vh;
  border: 3px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* End Scrollbar */
body {
  overflow: overlay;
}

// -- Navbar
.text-white {
  color: white !important;
}
.text-decoration-none {
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-tan {
  background-color: #dfbe99;
}

.object-fit {
  &-cover {
    object-fit: cover;
  }
  &-contain {
    object-fit: contain;
  }
}

.w {
  &-3r {
    width: 3rem;
  }
  &-2r {
    width: 2rem;
  }
  &-1r {
    width: 1rem;
  }
}

.h {
  &-3r {
    height: 3rem;
  }
  &-2r {
    height: 2rem;
  }
  &-1r {
    height: 1rem;
  }
}

.text {
  &-x {
    &s {
      font-size: x-small;
    }
  }
  &-sm {
    font-size: small;
  }
  &-transform {
    &-capitalize {
      text-transform: capitalize;
    }
  }
}

// Nav
.nav-item {
  .nav-link {
    border-bottom: 0rem solid $primary-color;
    transition: all 0.35s ease;
    border-radius: 0rem;
    color: rgba(229, 231, 235, var(--tw-text-opacity)) !important;
    font-weight: 100;
    &:hover {
      border-radius: 0.5rem;
      background-color: $primary-color;
      font-weight: 600;
      color: black !important;
    }
  }
  .nuxt-link-exact-active {
    font-weight: 600;
    border-radius: 0.75rem;
    background-color: $primary-color;
    color: black !important;
  }
}
// End of nav

// Dropdown
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.7rem;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
// End of dropdown

// Default

.bg {
  &-blizard-blue {
    background-color: $blizzard-blue-color;
  }
}

.bg-waves {
  background-image: url(/svg/wave.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.bot-waves {
  background-image: url(/svg/bot-wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.waves-color {
  background-color: $waves-color;
}

// ---

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1530px;
  }
}

.show-desktop {
  display: none;
}

@media (min-width: 992px) {
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: block;
  }
}
