.toasted-container {
  &.top {
    &-center {
      left: 50% !important;
      top: 40px !important;
    }
    &-left {
      left: 10px !important;
      top: 40px !important;
    }
    &-right {
      right: 20px !important;
      top: 40px !important;
    }
    // -webkit-transform: translateX(-50%);
    // transform: translateX(-50%);
  }
}
