// Colors
$primary-color: #f2f2f2;
$blizzard-blue-color: #c4f5fc;

$gray-400: #f2f2f2;
$gray-200: #f5f7fa;

// Waves color
$waves-color: #012a35;

// fonts
$font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
